.menuList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
}

.card {
  width: 300px !important;
  background-color: #fcdae0 !important;
  box-shadow: 0px 3px 15px rgb(0, 0, 0 / 20%);
}

.menuTitle {
  text-align: center;
  font-size: 30px;
  padding: 20px;
  font-weight: bold;
}

.card-image {
  padding: 5px;
}
